{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid d-grid">
    <h1
      id="about-us-title"
      class="mx-auto mt-2 mb-5 fw-bold font-monospace border-bottom border-danger"
    >
      SOS Hotline in India
    </h1>
    <div class="container-sm mx-auto">
        <ul class="list-group">
            <li class="list-group-item">
                <h4>iCall – Tata Institute of Social Sciences (TISS)</h4>
                Contact Number: +91-9152987821<br>
                <a class="link-info text-decoration-none" href="https://icallhelpline.org" target="_blank">https://icallhelpline.org</a><br>
                Confidential and professional psychosocial support available via call and email.
            </li>
            <li class="list-group-item">
                <h4>AASRA</h4>
                Contact Number: +91-9820466726<br>
                <a class="link-info text-decoration-none" href="http://www.aasra.info" target="_blank">http://www.aasra.info</a><br>
                24x7 helpline for suicide prevention based in Mumbai.
            </li>
            <li class="list-group-item">
                <h4>Fortis Stress Helpline</h4>
                Contact Number: +91-8376804102<br>
                <a class="link-info text-decoration-none" href="https://www.fortishealthcare.com" target="_blank">https://www.fortishealthcare.com</a><br>
                Run by mental health professionals, available for stress and emotional support.
            </li>
            <li class="list-group-item">
                <h4>Snehi</h4>
                Contact Number: +91-9582208181<br>
                <a class="link-info text-decoration-none" href="https://www.snehi.org" target="_blank">https://www.snehi.org</a><br>
                Offers psychological support and crisis intervention in India.
            </li>
            <li class="list-group-item">
                <h4>Vandrevala Foundation Helpline</h4>
                Contact Number: 1860 2662 345 / 9999 666 555<br>
                <a class="link-info text-decoration-none" href="https://www.vandrevalafoundation.com" target="_blank">https://www.vandrevalafoundation.com</a><br>
                Free mental health helpline across India in multiple languages.
            </li>
            <li class="list-group-item">
                <h4>Parivarthan Counselling Helpline</h4>
                Contact Number: +91-7676602602<br>
                <a class="link-info text-decoration-none" href="https://parivarthan.org" target="_blank">https://parivarthan.org</a><br>
                Provides emotional support and counselling, especially in South India.
            </li>
        </ul>
    </div>
</div>
{%endblock content%}